{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 900,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 9999,
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}